@font-face {
    font-family: 'fantasy';
    src: url('../Luminari-Regular.woff');
}

/* background image for the body */

body {
    background-image: url('../wooden_background.png');
    background-size: cover;
    position: relative;
    
}

/* menu styling */

.navMenu {
    display: flex;
    margin: auto;
    justify-content: center;
    margin: auto;
    gap: 4rem;
    background-image: url('../beaverBrosLogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    position: sticky
}

.navBtn {
    background: rgb(255,218,150);
    border-radius: .5rem;
    padding: .5rem;
    color: rgb(24,31,33);
    font-size: 18px;
    font-family: 'fantasy';
    height: 2.5rem;
    width: 6rem;
    margin-top: 395px;
    text-align: center;
}

/* home page styling */
#homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,218,150,.5);
    width: 800px;
    margin: auto;
    border: 4px solid rgb(24,31,33);
    box-shadow: 0 0 1rem rgba(255,218,150);

}

.headerBox {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 800px;
    margin:auto;       
}
    

.subheader {
    font-size: 48px;
    font-weight: 700;
    margin: auto;
    font-family: 'fantasy';
    font-style: italic;
    color: rgb(24,31,33);
    text-shadow:0 0 4px rgb(255,218,150);    
}

.primaryTextBox {
    width: 800px;
    font-size: 22px;
    font-family: 'fantasy';
    color: rgb(24,31,33);
    text-align: center;
}

.caveat {
    font-style: italic;
    font-family: 'fantasy';
}

