@font-face {
    font-family: 'fantasy';
    src: url('../Luminari-Regular.woff');
}

/* background image for the body */

body {
    background-image: url('../wooden_background.png');
    background-size: cover;
    
}

/* header styling */

.header {
    margin: auto;
    font-size: 44px;
    font-weight: 700;
    font-family: 'fantasy';
    text-shadow: 0 0 4px aliceblue;

}

.subheader {
    font-size: 30px;
    font-weight: 500;
    margin: auto;
    font-family: 'fantasy';
    font-style: italic;
    text-shadow: 0 0 4px aliceblue;
    
}

.headerBox {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 45%;
    margin:auto;
    background-color: rgba(250,250,250,.2);
    border-radius: 1rem;


}

.navMenu {
    display: flex;
    margin: auto;
    justify-content: center;
    margin: auto;
    gap: 4rem;
    background-image: url('../beaverBrosLogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
}

.navBtn {
    background: rgb(255,218,150);
    border-radius: .5rem;
    padding: .5rem;
    color: rgb(24,31,33);
    font-size: 18px;
    font-family: 'fantasy';
    height: 2.5rem;
    width: 6rem;
    margin-top: 395px;
    text-align: center;
}

/* home page styling */
#homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 800px;
    border-radius: 1rem;
  
}